In [1]:
import pandas as pd
import json 
from datetime import date
from datetime import datetime
import calendar

In [2]:
#read csv into pandas
df_M6 = pd.read_csv("fire_archive_M6_96619.csv",encoding = 'ISO-8859-1')  
df_M6

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,-11.8070,142.0583,313.0,1.0,1.0,2019-08-01,56,Terra,MODIS,48,6.3,297.3,6.6,D,0
1,-11.7924,142.0850,319.3,1.0,1.0,2019-08-01,56,Terra,MODIS,71,6.3,297.3,11.3,D,0
2,-12.8398,132.8744,311.6,3.1,1.7,2019-08-01,57,Terra,MODIS,42,6.3,298.7,23.1,D,0
3,-14.4306,143.3035,310.1,1.1,1.1,2019-08-01,57,Terra,MODIS,33,6.3,296.1,6.5,D,0
4,-12.4953,131.4897,310.3,4.0,1.9,2019-08-01,57,Terra,MODIS,36,6.3,298.8,27.6,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36006,-28.0656,131.6334,312.7,1.2,1.1,2019-09-30,1644,Aqua,MODIS,85,6.3,292.9,14.2,N,0
36007,-28.2625,128.5494,304.9,1.0,1.0,2019-09-30,1644,Aqua,MODIS,27,6.3,290.9,6.4,N,0
36008,-28.2941,128.5123,301.7,1.0,1.0,2019-09-30,1644,Aqua,MODIS,43,6.3,290.4,5.5,N,0
36009,-28.3001,128.5530,303.6,1.0,1.0,2019-09-30,1644,Aqua,MODIS,41,6.3,290.3,5.7,N,0
36010,-30.8641,121.4995,309.1,1.8,1.3,2019-09-30,1645,Aqua,MODIS,77,6.3,290.9,23.0,N,2

In [6]:
df_max = df_M6.groupby(['acq_date'])['frp'].max()
df_max.to_csv('fire_archive_M6_96619_max.csv', header ="true")

In [18]:
#convert the datatype of acq_date to date time
df_M6['acq_date'] =  pd.to_datetime(df_M6['acq_date'], format='%Y-%m-%d')
df_M6

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,-11.8070,142.0583,313.0,1.0,1.0,2019-08-01,56,Terra,MODIS,48,6.3,297.3,6.6,D,0
1,-11.7924,142.0850,319.3,1.0,1.0,2019-08-01,56,Terra,MODIS,71,6.3,297.3,11.3,D,0
2,-12.8398,132.8744,311.6,3.1,1.7,2019-08-01,57,Terra,MODIS,42,6.3,298.7,23.1,D,0
3,-14.4306,143.3035,310.1,1.1,1.1,2019-08-01,57,Terra,MODIS,33,6.3,296.1,6.5,D,0
4,-12.4953,131.4897,310.3,4.0,1.9,2019-08-01,57,Terra,MODIS,36,6.3,298.8,27.6,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36006,-28.0656,131.6334,312.7,1.2,1.1,2019-09-30,1644,Aqua,MODIS,85,6.3,292.9,14.2,N,0
36007,-28.2625,128.5494,304.9,1.0,1.0,2019-09-30,1644,Aqua,MODIS,27,6.3,290.9,6.4,N,0
36008,-28.2941,128.5123,301.7,1.0,1.0,2019-09-30,1644,Aqua,MODIS,43,6.3,290.4,5.5,N,0
36009,-28.3001,128.5530,303.6,1.0,1.0,2019-09-30,1644,Aqua,MODIS,41,6.3,290.3,5.7,N,0
36010,-30.8641,121.4995,309.1,1.8,1.3,2019-09-30,1645,Aqua,MODIS,77,6.3,290.9,23.0,N,2

In [19]:
#Create bins for utc times, bin names are the category names, bin y_values will be used for the y value when charting
utc_time_bins = [0, 400, 800, 1200, 1600, 2000, 2400]
bin_names = ["0 - 4:00 UTC", "4:00 - 8:00 UTC", "8:00 - 12:00 UTC", "12:00 - 16:00 UTC", "16:00 - 20:00 UTC", "20:00 - 24:00 UTC"]
#Create new column that stores the time bins
df_M6["time_ranges"] = pd.cut(df_M6["acq_time"], utc_time_bins, labels=bin_names)

df_M6

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type,time_ranges
0,-11.8070,142.0583,313.0,1.0,1.0,2019-08-01,56,Terra,MODIS,48,6.3,297.3,6.6,D,0,0 - 4:00 UTC
1,-11.7924,142.0850,319.3,1.0,1.0,2019-08-01,56,Terra,MODIS,71,6.3,297.3,11.3,D,0,0 - 4:00 UTC
2,-12.8398,132.8744,311.6,3.1,1.7,2019-08-01,57,Terra,MODIS,42,6.3,298.7,23.1,D,0,0 - 4:00 UTC
3,-14.4306,143.3035,310.1,1.1,1.1,2019-08-01,57,Terra,MODIS,33,6.3,296.1,6.5,D,0,0 - 4:00 UTC
4,-12.4953,131.4897,310.3,4.0,1.9,2019-08-01,57,Terra,MODIS,36,6.3,298.8,27.6,D,0,0 - 4:00 UTC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36006,-28.0656,131.6334,312.7,1.2,1.1,2019-09-30,1644,Aqua,MODIS,85,6.3,292.9,14.2,N,0,16:00 - 20:00 UTC
36007,-28.2625,128.5494,304.9,1.0,1.0,2019-09-30,1644,Aqua,MODIS,27,6.3,290.9,6.4,N,0,16:00 - 20:00 UTC
36008,-28.2941,128.5123,301.7,1.0,1.0,2019-09-30,1644,Aqua,MODIS,43,6.3,290.4,5.5,N,0,16:00 - 20:00 UTC
36009,-28.3001,128.5530,303.6,1.0,1.0,2019-09-30,1644,Aqua,MODIS,41,6.3,290.3,5.7,N,0,16:00 - 20:00 UTC
36010,-30.8641,121.4995,309.1,1.8,1.3,2019-09-30,1645,Aqua,MODIS,77,6.3,290.9,23.0,N,2,16:00 - 20:00 UTC

In [20]:
#loop through dataframe and add a new column for day of week. Use the calemdar to calculate the weekday from acq_date
index_count = 0
df_M6['day_of_week'] = ""
for days in df_M6.iterrows():
    day = df_M6.loc[index_count, 'acq_date']
    day_name = calendar.day_name[day.weekday()]
    df_M6.loc[index_count, 'day_of_week'] = day_name
    day_num = day.weekday()
    index_count = index_count + 1
    

df_M6

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type,time_ranges,day_of_week
0,-11.8070,142.0583,313.0,1.0,1.0,2019-08-01,56,Terra,MODIS,48,6.3,297.3,6.6,D,0,0 - 4:00 UTC,Thursday
1,-11.7924,142.0850,319.3,1.0,1.0,2019-08-01,56,Terra,MODIS,71,6.3,297.3,11.3,D,0,0 - 4:00 UTC,Thursday
2,-12.8398,132.8744,311.6,3.1,1.7,2019-08-01,57,Terra,MODIS,42,6.3,298.7,23.1,D,0,0 - 4:00 UTC,Thursday
3,-14.4306,143.3035,310.1,1.1,1.1,2019-08-01,57,Terra,MODIS,33,6.3,296.1,6.5,D,0,0 - 4:00 UTC,Thursday
4,-12.4953,131.4897,310.3,4.0,1.9,2019-08-01,57,Terra,MODIS,36,6.3,298.8,27.6,D,0,0 - 4:00 UTC,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36006,-28.0656,131.6334,312.7,1.2,1.1,2019-09-30,1644,Aqua,MODIS,85,6.3,292.9,14.2,N,0,16:00 - 20:00 UTC,Monday
36007,-28.2625,128.5494,304.9,1.0,1.0,2019-09-30,1644,Aqua,MODIS,27,6.3,290.9,6.4,N,0,16:00 - 20:00 UTC,Monday
36008,-28.2941,128.5123,301.7,1.0,1.0,2019-09-30,1644,Aqua,MODIS,43,6.3,290.4,5.5,N,0,16:00 - 20:00 UTC,Monday
36009,-28.3001,128.5530,303.6,1.0,1.0,2019-09-30,1644,Aqua,MODIS,41,6.3,290.3,5.7,N,0,16:00 - 20:00 UTC,Monday
36010,-30.8641,121.4995,309.1,1.8,1.3,2019-09-30,1645,Aqua,MODIS,77,6.3,290.9,23.0,N,2,16:00 - 20:00 UTC,Monday

In [21]:
#group the dataframe by day of week and time bins
df_M6_grouped = df_M6.groupby(['day_of_week', 'time_ranges'])['frp'].mean().reset_index()
df_M6_grouped.head()

  day_of_week        time_ranges        frp
0      Friday       0 - 4:00 UTC  60.525528
1      Friday    4:00 - 8:00 UTC  61.371296
2      Friday   8:00 - 12:00 UTC        NaN
3      Friday  12:00 - 16:00 UTC  49.456105
4      Friday  16:00 - 20:00 UTC  26.927642

In [22]:
df_M6 =df_M6.drop(columns=['time_ranges'])

In [23]:
#export csv of clean dataframe
df_M6.to_csv('fire_archive_M6_96619_clean.csv')

In [11]:
#group the dataframe by day of week and time bins
df_M6_grouped = df_M6.groupby(['day_of_week', 'time_ranges'])['frp'].mean().reset_index()

df_M6_grouped.head()

  day_of_week        time_ranges        frp
0      Friday       0 - 4:00 UTC  60.525528
1      Friday    4:00 - 8:00 UTC  61.371296
2      Friday   8:00 - 12:00 UTC        NaN
3      Friday  12:00 - 16:00 UTC  49.456105
4      Friday  16:00 - 20:00 UTC  26.927642

In [24]:
#loop through dataframe and add a new column for the x values based on the day of week. The x values will be used in high charts.
index_count = 0;
df_M6_grouped['x_value'] = ""
for rows in df_M6_grouped.iterrows():
    weekday = df_M6_grouped.loc[index_count, 'day_of_week']
    if weekday == "Monday":
        df_M6_grouped.loc[index_count, 'x_value'] = 0
    elif weekday == "Tuesday":
        df_M6_grouped.loc[index_count, 'x_value'] = 1
    elif weekday == "Wednesday":
        df_M6_grouped.loc[index_count, 'x_value'] = 2
    elif weekday == "Thursday":
        df_M6_grouped.loc[index_count, 'x_value'] = 3
    elif weekday == "Friday":
        df_M6_grouped.loc[index_count, 'x_value'] = 4
    elif weekday == "Saturday":
        df_M6_grouped.loc[index_count, 'x_value'] = 5
    elif weekday == "Sunday":
        df_M6_grouped.loc[index_count, 'x_value'] = 6
    index_count = index_count + 1

df_M6_grouped.head()

  day_of_week        time_ranges        frp  x_value
0      Friday       0 - 4:00 UTC  60.525528        4
1      Friday    4:00 - 8:00 UTC  61.371296        4
2      Friday   8:00 - 12:00 UTC        NaN        4
3      Friday  12:00 - 16:00 UTC  49.456105        4
4      Friday  16:00 - 20:00 UTC  26.927642        4

In [25]:
#loop through the dataframe and add a new column for the y value based on time bins. The y value will be used in high charts.
index_count = 0;
df_M6_grouped['y_value'] = ""
for rows in df_M6_grouped.iterrows():
    time = df_M6_grouped.loc[index_count, 'time_ranges']
    if time == "0 - 4:00 UTC":
        df_M6_grouped.loc[index_count, 'y_value'] = 0
    elif time == "4:00 - 8:00 UTC":
        df_M6_grouped.loc[index_count, 'y_value'] = 1
    elif time == "8:00 - 12:00 UTC":
        df_M6_grouped.loc[index_count, 'y_value'] = 2
    elif time == "12:00 - 16:00 UTC":
        df_M6_grouped.loc[index_count, 'y_value'] = 3
    elif time == "16:00 - 20:00 UTC":
        df_M6_grouped.loc[index_count, 'y_value'] = 4
    elif time == "20:00 - 24:00 UTC":
        df_M6_grouped.loc[index_count, 'y_value'] = 5
    index_count = index_count + 1

df_M6_grouped ['frp'] = df_M6_grouped ['frp'] .fillna(value=0)
df_M6_grouped.head()

  day_of_week        time_ranges        frp  x_value  y_value
0      Friday       0 - 4:00 UTC  60.525528        4        0
1      Friday    4:00 - 8:00 UTC  61.371296        4        1
2      Friday   8:00 - 12:00 UTC   0.000000        4        2
3      Friday  12:00 - 16:00 UTC  49.456105        4        3
4      Friday  16:00 - 20:00 UTC  26.927642        4        4

In [26]:
#Add a new column that concatinates the x, y , and frp value. This will be spilt in javascript.
df_M6_grouped["hc_values"] = df_M6_grouped ["x_value"].astype(str) + "," + df_M6_grouped ["y_value"].astype(str) + "," + df_M6_grouped ["frp"].astype(str)

df_M6_grouped

,day_of_week,time_ranges,frp,x_value,y_value,hc_values
0,Friday,0 - 4:00 UTC,60.525528,4,0,"4,0,60.525527638190994"
1,Friday,4:00 - 8:00 UTC,61.371296,4,1,"4,1,61.371296296296414"
2,Friday,8:00 - 12:00 UTC,0.000000,4,2,"4,2,0.0"
3,Friday,12:00 - 16:00 UTC,49.456105,4,3,"4,3,49.45610534716676"
4,Friday,16:00 - 20:00 UTC,26.927642,4,4,"4,4,26.92764227642277"
5,Friday,20:00 - 24:00 UTC,51.283803,4,5,"4,5,51.28380281690141"
6,Monday,0 - 4:00 UTC,58.083333,0,0,"0,0,58.08333333333349"
7,Monday,4:00 - 8:00 UTC,67.926012,0,1,"0,1,67.92601235415239"
8,Monday,8:00 - 12:00 UTC,0.000000,0,2,"0,2,0.0"
9,Monday,12:00 - 16:00 UTC,40.761332,0,3,"0,3,40.76133190118152"
10,Monday,16:00 - 20:00 UTC,27.430380,0,4,"0,4,27.430379746835435"
11,Monday,20:00 - 24:00 UTC,19.575155,0,5,"0,5,19.5751552795031"
12,Saturday,0 - 4:00 UTC,48.109421,5,0,"5,0,48.109420682187356"
13,Saturday,4:00 - 8:00 UTC,66.753816,5,1,"5,1,66.75381571509324"
14,Saturday,8:00 - 12:00 UTC,158.883333,5,2,"5,2,158.88333333333333"
15,Saturday,12:00 - 16:00 UTC,34.951374,5,3,"5,3,34.95137395459979"
16,Saturday,16:00 - 20:00 UTC,22.586607,5,4,"5,4,22.58660714285716"
17,Saturday,20:00 - 24:00 UTC,16.905405,5,5,"5,5,16.90540540540541"
18,Sunday,0 - 4:00 UTC,48.528854,6,0,"6,0,48.5288537549407"
19,Sunday,4:00 - 8:00 UTC,60.261886,6,1,"6,1,60.26188613646236"
20,Sunday,8:00 - 12:00 UTC,0.000000,6,2,"6,2,0.0"
21,Sunday,12:00 - 16:00 UTC,28.831168,6,3,"6,3,28.831167763157897"
22,Sunday,16:00 - 20:00 UTC,14.252601,6,4,"6,4,14.252601156069364"
23,Sunday,20:00 - 24:00 UTC,80.469178,6,5,"6,5,80.46917808219172"
24,Thursday,0 - 4:00 UTC,42.263932,3,0,"3,0,42.263932373199765"
25,Thursday,4:00 - 8:00 UTC,72.750890,3,1,"3,1,72.75089005235598"
26,Thursday,8:00 - 12:00 UTC,112.470000,3,2,"3,2,112.46999999999998"
27,Thursday,12:00 - 16:00 UTC,24.692407,3,3,"3,3,24.69240687679084"
28,Thursday,16:00 - 20:00 UTC,23.200760,3,4,"3,4,23.20076045627376"
29,Thursday,20:00 - 24:00 UTC,54.700000,3,5,"3,5,54.7"
30,Tuesday,0 - 4:00 UTC,46.251488,1,0,"1,0,46.25148825065281"
31,Tuesday,4:00 - 8:00 UTC,49.003013,1,1,"1,1,49.0030127940569"
32,Tuesday,8:00 - 12:00 UTC,0.000000,1,2,"1,2,0.0"
33,Tuesday,12:00 - 16:00 UTC,27.716428,1,3,"1,3,27.716427640156425"
34,Tuesday,16:00 - 20:00 UTC,17.311438,1,4,"1,4,17.311437908496735"
35,Tuesday,20:00 - 24:00 UTC,104.575000,1,5,"1,5,104.57499999999999"
36,Wednesday,0 - 4:00 UTC,54.302614,2,0,"2,0,54.302613695765864"
37,Wednesday,4:00 - 8:00 UTC,60.619280,2,1,"2,1,60.619280205655464"
38,Wednesday,8:00 - 12:00 UTC,0.000000,2,2,"2,2,0.0"
39,Wednesday,12:00 - 16:00 UTC,22.872993,2,3,"2,3,22.87299270072994"
40,Wednesday,16:00 - 20:00 UTC,39.163291,2,4,"2,4,39.1632911392405"
41,Wednesday,20:00 - 24:00 UTC,36.207182,2,5,"2,5,36.20718232044199"

In [27]:
df_M6_grouped =df_M6_grouped.drop(columns=['time_ranges'])

In [28]:
# export the grouped dataframe as a csv
df_M6_grouped.to_csv('fire_archive_M6_96619_group.csv')

In [29]:
df_M6_grouped.to_json('fire_archive_M6_96619_group.json')                               
jdf_2 = open('fire_archive_M6_96619_group.json').read()                        
data_2 = json.loads(jdf_2)  
data_2

{'day_of_week': {'0': 'Friday',
  '1': 'Friday',
  '2': 'Friday',
  '3': 'Friday',
  '4': 'Friday',
  '5': 'Friday',
  '6': 'Monday',
  '7': 'Monday',
  '8': 'Monday',
  '9': 'Monday',
  '10': 'Monday',
  '11': 'Monday',
  '12': 'Saturday',
  '13': 'Saturday',
  '14': 'Saturday',
  '15': 'Saturday',
  '16': 'Saturday',
  '17': 'Saturday',
  '18': 'Sunday',
  '19': 'Sunday',
  '20': 'Sunday',
  '21': 'Sunday',
  '22': 'Sunday',
  '23': 'Sunday',
  '24': 'Thursday',
  '25': 'Thursday',
  '26': 'Thursday',
  '27': 'Thursday',
  '28': 'Thursday',
  '29': 'Thursday',
  '30': 'Tuesday',
  '31': 'Tuesday',
  '32': 'Tuesday',
  '33': 'Tuesday',
  '34': 'Tuesday',
  '35': 'Tuesday',
  '36': 'Wednesday',
  '37': 'Wednesday',
  '38': 'Wednesday',
  '39': 'Wednesday',
  '40': 'Wednesday',
  '41': 'Wednesday'},
 'frp': {'0': 60.5255276382,
  '1': 61.3712962963,
  '2': 0.0,
  '3': 49.4561053472,
  '4': 26.9276422764,
  '5': 51.2838028169,
  '6': 58.0833333333,
  '7': 67.9260123542,
  '8': 0.0,
  '9': 40.7613319012,
  '10': 27.4303797468,
  '11': 19.5751552795,
  '12': 48.1094206822,
  '13': 66.7538157151,
  '14': 158.8833333333,
  '15': 34.9513739546,
  '16': 22.5866071429,
  '17': 16.9054054054,
  '18': 48.5288537549,
  '19': 60.2618861365,
  '20': 0.0,
  '21': 28.8311677632,
  '22': 14.2526011561,
  '23': 80.4691780822,
  '24': 42.2639323732,
  '25': 72.7508900524,
  '26': 112.47,
  '27': 24.6924068768,
  '28': 23.2007604563,
  '29': 54.7,
  '30': 46.2514882507,
  '31': 49.0030127941,
  '32': 0.0,
  '33': 27.7164276402,
  '34': 17.3114379085,
  '35': 104.575,
  '36': 54.3026136958,
  '37': 60.6192802057,
  '38': 0.0,
  '39': 22.8729927007,
  '40': 39.1632911392,
  '41': 36.2071823204},
 'x_value': {'0': 4,
  '1': 4,
  '2': 4,
  '3': 4,
  '4': 4,
  '5': 4,
  '6': 0,
  '7': 0,
  '8': 0,
  '9': 0,
  '10': 0,
  '11': 0,
  '12': 5,
  '13': 5,
  '14': 5,
  '15': 5,
  '16': 5,
  '17': 5,
  '18': 6,
  '19': 6,
  '20': 6,
  '21': 6,
  '22': 6,
  '23': 6,
  '24': 3,
  '25': 3,
  '26': 3,
  '27': 3,
  '28': 3,
  '29': 3,
  '30': 1,
  '31': 1,
  '32': 1,
  '33': 1,
  '34': 1,
  '35': 1,
  '36': 2,
  '37': 2,
  '38': 2,
  '39': 2,
  '40': 2,
  '41': 2},
 'y_value': {'0': 0,
  '1': 1,
  '2': 2,
  '3': 3,
  '4': 4,
  '5': 5,
  '6': 0,
  '7': 1,
  '8': 2,
  '9': 3,
  '10': 4,
  '11': 5,
  '12': 0,
  '13': 1,
  '14': 2,
  '15': 3,
  '16': 4,
  '17': 5,
  '18': 0,
  '19': 1,
  '20': 2,
  '21': 3,
  '22': 4,
  '23': 5,
  '24': 0,
  '25': 1,
  '26': 2,
  '27': 3,
  '28': 4,
  '29': 5,
  '30': 0,
  '31': 1,
  '32': 2,
  '33': 3,
  '34': 4,
  '35': 5,
  '36': 0,
  '37': 1,
  '38': 2,
  '39': 3,
  '40': 4,
  '41': 5},
 'hc_values': {'0': '4,0,60.525527638190994',
  '1': '4,1,61.371296296296414',
  '2': '4,2,0.0',
  '3': '4,3,49.45610534716676',
  '4': '4,4,26.92764227642277',
  '5': '4,5,51.28380281690141',
  '6': '0,0,58.08333333333349',
  '7': '0,1,67.92601235415239',
  '8': '0,2,0.0',
  '9': '0,3,40.76133190118152',
  '10': '0,4,27.430379746835435',
  '11': '0,5,19.5751552795031',
  '12': '5,0,48.109420682187356',
  '13': '5,1,66.75381571509324',
  '14': '5,2,158.88333333333333',
  '15': '5,3,34.95137395459979',
  '16': '5,4,22.58660714285716',
  '17': '5,5,16.90540540540541',
  '18': '6,0,48.5288537549407',
  '19': '6,1,60.26188613646236',
  '20': '6,2,0.0',
  '21': '6,3,28.831167763157897',
  '22': '6,4,14.252601156069364',
  '23': '6,5,80.46917808219172',
  '24': '3,0,42.263932373199765',
  '25': '3,1,72.75089005235598',
  '26': '3,2,112.46999999999998',
  '27': '3,3,24.69240687679084',
  '28': '3,4,23.20076045627376',
  '29': '3,5,54.7',
  '30': '1,0,46.25148825065281',
  '31': '1,1,49.0030127940569',
  '32': '1,2,0.0',
  '33': '1,3,27.716427640156425',
  '34': '1,4,17.311437908496735',
  '35': '1,5,104.57499999999999',
  '36': '2,0,54.302613695765864',
  '37': '2,1,60.619280205655464',
  '38': '2,2,0.0',
  '39': '2,3,22.87299270072994',
  '40': '2,4,39.1632911392405',
  '41': '2,5,36.20718232044199'}}